
._rs-icon-question:before {
	content: "\e904";
  }
  ._rs-icon-behance:before {
	content: "\e900";
  }
  ._rs-icon-cheese:before {
	content: "\e901";
  }
  ._rs-icon-double_arrow:before {
	content: "\e902";
  }
  ._rs-icon-pinterest:before {
	content: "\e903";
  }
  ._rs-icon-single_arrow:before {
	content: "\e905";
  }
  ._rs-icon-telegram:before {
	content: "\e906";
  }
  ._rs-icon-vk:before {
	content: "\e907";
  }
  ._rs-icon-whatsapp:before {
	content: "\e908";
  }
  ._rs-icon-close:before {
	content: "\e909";
  }
  